{% extends "base.html" %}

{% block content %}
<h>Регистрация</h>
{% if message %}
    <p class="alert alert-warning">
        {{ message }}
    </p>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ('csrf_token', 'submit') %}
        <div>
            {{ field.label() }}
            <br>
            {{ field(class="form-control") }}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="form-control btn btn-primary my-4") }}</p>
    {{message}}
</form>
{% endblock %}