{% extends "base.html" %}

{% block content %}
<h>{{ title }}</h>
{% if message %}
    <p class="alert alert-warning">
        {{ message }}
    </p>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ('csrf_token', 'submit') %}
        <div>
            {% if field.type == 'BooleanField'%}
                {{ field(class="form-check-label") }}
                {{ field.label(class="form-check-label") }}
            {% else %}
                {{ field.label() }}
                <br>
                {{ field(class="form-control") }}
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="form-control btn btn-primary my-4") }}</p>
    {{message}}
</form>
{% endblock %}